/* fixed header */
.navbar {
    background-color: rgb(255, 255, 255)fff;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    float: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background: rgb(221, 221, 221);
    color: black;
}

/* font family */
html {
    font-family: 'Roboto', sans-serif;
}



/* fixed header */
#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 100%;
    max-width: 6000;
    gap: 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.key-tile {
    width: 43px;
    height: 47px;
    margin: 1px;
    gap: 2px;
    border: 1px solid lightgray;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 47px;
    margin: 1px;
    border: 1px solid lightgray;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Logo */
.logo {
    font-size: 35px;
    text-align: center;
    line-height: 450px;
    height: 260px;
    padding: 0; 
    margin-bottom: 10px;
}
.menuoptions {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menuoptions a {
    display: block;
    margin: 4px 0;
    text-decoration: none;
}

.gamelevel {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 560px;
    line-height: 30px;
}

.gamelevel a {
    display: block;
    margin: 4px 0;
    text-decoration: none;
}